
<div class="navbar-top">
	<div class="container">
		<div class="box-info">
			<div class="label-info">
				<i class="material-icons">local_offer</i>
			</div>
			<span>Gratis Ebook 9 Cara Cerdas Menggunakan Domain [x]</span>
		</div>
		<ul class="nav-top">
			<li class="nav-item"><i class="material-icons">call</i> 08274-5305505</li>
			<li class="nav-item"><i class="material-icons">forum</i> Live Chat</li>
			<li class="nav-item"><i class="material-icons">account_circle</i> Member Area</li>
		</ul>
	</div>
</div>
<nav class="navbar navbar-expand-lg nav">
	<div class="container">
	  <a class="navbar-brand" href="#"><img src="./dist/images/niagahoster-logo.png" alt="logo"></a>
	  <button class="navbar-toggler js-mobile-button" type="button">
	    <span class="navbar-toggler-icon"><i class="material-icons">menu</i></span>
	  </button>
	    

	  <div class=" navbar-collapse mobile-menu js-mobile-menu" id="navbar-menu">
	  	<ul class="navbar-nav mt-2 mt-lg-0 nav ml-auto">
	      <li class="nav-item">
	        <a href="#">Hosting</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Domain</a>
	      </li>
		  <li class="nav-item">
	        <a href="#">Server</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Website</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Afiliasi</a>
	      </li>
		  <li class="nav-item">
	        <a href="#">Promo</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Pembayaran</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Review</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Kontak</a>
	      </li>
	      <li class="nav-item">
	        <a href="#">Blog</a>
	      </li>
	    </ul>
	    <ul class="nav-top mobile">
			<li class="nav-item"><i class="material-icons">call</i> 08274-5305505</li>
			<li class="nav-item"><i class="material-icons">forum</i> Live Chat</li>
			<li class="nav-item"><i class="material-icons">account_circle</i> Member Area</li>
		</ul>
	  </div>
  </div>
</nav>